<h2>Add Business</h2>

<%= form_for(@business, :url => admin_businesses_path ) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Add", :disable_with => 'Saving...' %>
  </div>
<% end %>