<div class="title">About Champak</div>

<div class="subtitle">To say Champak is the direct mail leader in Vermont, NY and NH  is very true. That’s the essence of what we do – but it hardly tells the whole story.</div>

<p>Our coupons have become a staple for coupon lovers everywhere. Why do clients look forward to sending their best offers out in our green envelopes? Because they know they can count on genuine service, a print product that consumers love and a return on their investment every time.</p>

<div class="subtitle">Expect More Than A Coupon</div>

<%= image_tag 'seal_logo.jpg', :style => 'float:right;' %>

<p>We are passionate super savers, AND we are everything else that goes along with a full and rewarding print experience. We design.  We print.  And, We Mail.</p>
 
<p>We are the advertising experts – our clients depend on us and we couldn’t be happier about it. Get to know us and you’ll see: we are so much more than a coupon.</p>

<p>Champak is the largest direct mail company in VT. Champak is part of <%= link_to 'CEC Media Group', 'http://www.cecmediagroup.com/', :target => '_blank' %> which includes WNMR, 107.1 The Game and Retro40.  Champak is located in Shelburne, VT and printed locally in Milton VT.</p>

<p>Champak's in-house staff includes Customer Service Specialists, Account Executives,  Graphic Designers, Distribution Staff, Copywriters, Production Staff &amp; Videographers. The many capabilities offered by CEC Media Group make us easy to work with, as everything advertising is under one roof. With Champak’s great prices and radio and television to add to the mix, CEC Media Group  is one-stop-shopping for all your print, radio and television advertising needs.</p>