<div class="title">Contact</div>

<div class="subtitle">Burlington Address</div>

<p>
145 Pine Have Shores Rd Suite 2014<br/>  
Shelburne, VT 05482<br/>
Phone: 802-735-2425  <br/>
Burlington Fax: 802-264-8581
</p>

<div class="subtitle">Personnel Contacts</div>

<table class="contact_table">
  <tr>
    <td width="231">President </td>
    <td width="156">Rich DeLancey </td>
    <td width="192"><a href="mailto:rich@cecmediagroup.com">rich@cecmediagroup.com</a></td>
    <td width="87">802-343-7427 </td>
  </tr>
  <tr class="alt">
    <td>VP, General Manager </td>
    <td>Liz Martin </td>
    <td><a href="mailto:liz@cecmediagroup.com">liz@cecmediagroup.com</a></td>
    <td>802-355-0130 </td>
  </tr>
  <tr>
    <td>&nbsp; </td>
    <td></td>
    <td></td>
    <td>&nbsp; </td>
  </tr>
  <tr class="alt">
    <td>Local Sales Manager </td>
    <td>Skip Toney </td>
    <td><a href="mailto:skip@cecmediagroup.com">skip@cecmediagroup.com</a></td>
    <td>802-881-2725 </td>
  </tr>
  <tr>
    <td>Account Executive </td>
    <td>Holly Burnham </td>
    <td><a href="mailto:holly@cecmediagroup.com">holly@cecmediagroup.com</a></td>
    <td>802-355-0811 </td>
  </tr>
  <tr class="alt">
    <td>Account Executive </td>
    <td>Kim Wells </td>
    <td><a href="mailto:kim@cecmediagroup.com">kim@cecmediagroup.com</a></td>
    <td>802-782-4114 </td>
  </tr>
  <tr>
    <td>Account Executive </td>
    <td>Dru Johnson </td>
    <td><a href="mailto:dru@cecmediagroup.com">dru@cecmediagroup.com</a></td>
    <td>802-280-5704 </td>
  </tr>
  <tr>
    <td>&nbsp; </td>
    <td></td>
    <td></td>
    <td>&nbsp; </td>
  </tr>
  <tr class="alt">
    <td>Business&nbsp;Manager </td>
    <td>Sharon Chouinard </td>
    <td><a href="mailto:sharon@cecmediagroup.com">sharon@cecmediagroup.com</a></td>
    <td>802-735-7342 </td>
  </tr>
  <tr>
    <td>&nbsp; </td>
    <td></td>
    <td></td>
    <td>&nbsp; </td>
  </tr>
  <tr class="alt">
    <td>Distribution, Account Executive </td>
    <td>Nate Lessard </td>
    <td><a href="mailto:nate@cecmediagroup.com">nate@cecmediagroup.com</a></td>
    <td>802-343-8266 </td>
  </tr>
  <tr>
    <td>Production, Design </td>
    <td>Jake Lessard </td>
    <td><a href="mailto:jake@cecmediagroup.com">jake@cecmediagroup.com</a></td>
    <td>802-777-0816 </td>
  </tr>
</table>


<div class="subtitle">Problems with the website?</div>

<p>Contact the webmaster at <%= mail_to "webmaster@champak.net" %></p>