<div class="title">Contact</div>

<div class="subtitle">Burlington Address</div>

<p>
145 Pine Have Shores Rd Suite 2014<br/>  
Shelburne, VT 05482<br/>
Phone: 802-735-2425  <br/>
Burlington Fax: 802-264-8581
</p>

<div class="subtitle">Personnel Contacts</div>

<table class="contact_table">
  <tr>
    <td width="231">President </td>
    <td width="156">Rich DeLancey </td>
    <td width="192"><a href="mailto:rich@cecmediagroup.com">rich@cecmediagroup.com</a></td>
    <td width="87">802-343-7427 </td>
  </tr>
  <tr class="alt">
    <td>VP, General Manager </td>
    <td>Liz Martin </td>
    <td><a href="mailto:liz@cecmediagroup.com">liz@cecmediagroup.com</a></td>
    <td>802-355-0130 </td>
  </tr>
  <tr>
    <td>&nbsp; </td>
    <td></td>
    <td></td>
    <td>&nbsp; </td>
  </tr>
  <tr class="alt">
    <td>Senior Account Executive </td>
    <td>Brian Gloyd </td>
    <td><a href="mailto:brian@cecmediagroup.com">brian@cecmediagroup.com</a></td>
    <td>802-238-7927 </td>
  </tr>
  <tr>
    <td>Account Executive </td>
    <td>Bob Jones </td>
    <td><a href="mailto:bob@cecmediagroup.com">bob@cecmediagroup.com</a></td>
    <td>802-343-7627 </td>
  </tr>
  <tr class="alt">
    <td>Senior Account Executive </td>
    <td>John McDevitt </td>
    <td><a href="mailto:john@cecmediagroup.com">john@cecmediagroup.com</a></td>
    <td>802-399-8359 </td>
  </tr>
  <tr>
    <td>&nbsp; </td>
    <td></td>
    <td></td>
    <td>&nbsp; </td>
  </tr>
  <tr class="alt">
    <td>Business&nbsp;Manager </td>
    <td>Sharon Chouinard </td>
    <td><a href="mailto:sharon@cecmediagroup.com">sharon@cecmediagroup.com</a></td>
    <td>802-735-7342 </td>
  </tr>
  <tr>
    <td>&nbsp; </td>
    <td></td>
    <td></td>
    <td>&nbsp; </td>
  </tr>
  <tr class="alt">
    <td>Distribution, Account Executive </td>
    <td>Nate Lessard </td>
    <td><a href="mailto:nate@cecmediagroup.com">nate@cecmediagroup.com</a></td>
    <td>802-343-8266 </td>
  </tr>
  <tr>
    <td>Production, Design </td>
    <td>Jake Lessard </td>
    <td><a href="mailto:jake@cecmediagroup.com">jake@cecmediagroup.com</a></td>
    <td>802-777-0816 </td>
  </tr>
</table>


<div class="subtitle">Problems with the website?</div>

<p>Contact the webmaster at <%= mail_to "webmaster@champak.net" %></p>