<div class="for_businesses">
  <div class="title">Why Coupons??<br/>Because it Makes Sense...Here is Why.</div>

<div class="subtitle">9 out of 10 Americans Will Use A Coupon In the Next 12 Months</div>
<div class="source">Source: BIGresearch 9/09</div>

<div class="subtitle">Coupons Are More Influential In Purchase Decisions for 18 - 24 Year Olds</div>

<p>Michael Fleischner</p>
<div class="source">Author of SEO Made Simple</div>
<%= image_tag 'seo_made_simple.jpg', :style => 'float:left;' %>
<p>"In today's marketing environment however, coupons have taken on a life of their own. The reason why coupons are so prevalent today and among younger consumers is because of their communication vehicles and access points.</p>

<p>Younger consumers have greater access to the web and as a result, sites that encourage or promote coupon use. Simply type a product name into Google followed by the word coupon and you'll find dozens of websites that offer online deals and discounts. When these discounts are discovered, many users in the before mentioned demographic share this information with friends and social networks - which are now bigger than ever!"</p>


<div class="subtitle">7 Reasons Why Coupons Are Cool</div>

<div style="float:right;width:200px;text-align:center;"><%= image_tag 'pearlofafrika.jpg' %><div class="source">Author of 10 Ways to Be Debt Free By the End of the Year</div></div>
<ol>
  <li><p>You save a ton of money.</p></li>
  <li><p>You have lots of resources</p></li>
  <li><p>Hone up your math skills.</p></li>
  <li><p>Get a natural high at the register.</p></li>
  <li><p>Inspire other people.</p></li>
  <li><p>Coupons make deal hunting a fun activity.</p></li>
  <li><p>Open yourself up to new products.</p></li> 
</ol>

<div class="subtitle">Banwari Mittal, Associate Professor of Marketing at Northern Kentucky University:</div>

<%= image_tag 'banwari_mittal.jpg', :style => 'float:left;' %>

<p>Consumers gain more than economic benefits from using coupons; they enjoy coupon clipping, organizing, and redeeming.</p>

<p>Alternative methods for delivering the same savings (e.g., "Everyday Low Pricing") may not be as effective in winning consumer patronage.</p>

</div>