<h2><%= @category.name %></h2>

<%= form_for(@category, :url => admin_category_path ) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Update", :disable_with => 'Saving...' %>
  </div>
<% end %>