<div class="title">Edit Category</div>

<%= form_for(@category, :url => admin_category_path, :html => { :class => 'admin_form' } ) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Update", :disable_with => 'Saving...', :class => 'lg_button' %>
  </div>
<% end %>