<% content_for :side_menu do %>
  <div id="admin_side_menu">
    <%= button_to 'Delete Category', admin_category_path(@category), :method => :delete, :confirm => "Are you sure you would like to delete this category?", :class => 'lg_button' %>
  </div>
<% end %>

<div class="title">Edit Category</div>

<%= form_for(@category, :url => admin_category_path, :html => { :class => 'admin_form' } ) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Update", :disable_with => 'Saving...', :class => 'lg_button' %>
  </div>
<% end %>