<div id="side_menu">
	<div id="side_menu_content">
    <div class="side_menu_field">
    	View Coupons by Category:<br/>
      <%= select_by_category %>
    </div>
    <div class="side_menu_field">
    	View Coupons by Town:<br/>
      <%= select_by_town %>
    </div>
    <div class="side_menu_field">
    	View Coupons by Distance:<br/>
      <input type="text" class="zipcode" name="select_zip" value="Enter ZIP Code" />
      <input type="button" class="sm_button" value="Find" />
    </div>
  </div>
	<div id="side_menu_bottom"></div>
</div>
