<% skyscraper_left = Ad.find_by_id(Setting::getSetting('skyscraper_left'))
   skyscraper_right = Ad.find_by_id(Setting::getSetting('skyscraper_right')) %>

<% if skyscraper_left && !skyscraper_left.image.url.empty? %>
  <div id="skyscraper_left" class="skyscraper">
    <%= link_to image_tag(skyscraper_left.image.url, :size => '160x600'), skyscraper_left.url, :target => '_blank' %>
  </div>
<% end %>
<% if skyscraper_right && !skyscraper_right.image.url.empty? %>
  <div id="skyscraper_right" class="skyscraper">
    <%= link_to image_tag(skyscraper_right.image.url, :size => '160x600'), skyscraper_right.url, :target => '_blank' %>
  </div>
<% end %>
<% if skyscraper_left || skyscraper_right %>
  <div class="skyscraper_clear"></div>
<% end %>