<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="noindex">
  <%= javascript_include_tag :defaults %>
  <%= render 'layouts/stylesheets' %>
</head>
<script language="javascript">
$(function() {
    window.focus();
    window.print();
    if (navigator.userAgent.toLowerCase().indexOf('chrome') == -1) {
      window.close();
    }
  });
</script>
<body >
<%= yield %>
</body>
</html>